# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Propiedades de la API (claves secretas de la aplicación)
src/twitter4j.properties